In [2]:
#Leitura de um arquivo csv 

import pandas as pd #Importa o Pandas
df = pd.read_csv('iris.csv') #Lê um arquivo csv e associa a variavel df
print(df) #Printa a variável df/tabela

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2         se
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [40]:
#Leitura de um arquivo csv
df = pd.read_csv('iris.csv', usecols = ['sepal_length', 'species']) #Lê e associa apenas as colunas de interesse
print(df.head(12)) #Printa apenas os primeiros x elementos da coluna, neste caso, x = 12

    sepal_length species
0            5.1      se
1            4.9  setosa
2            4.7  setosa
3            4.6  setosa
4            5.0  setosa
5            5.4  setosa
6            4.6  setosa
7            5.0  setosa
8            4.4  setosa
9            4.9  setosa
10           5.4  setosa
11           4.8  setosa

In [43]:
#Criação de tabela a partir de lista predeterminada

#Cria-se uma lista com dados fornecidos
#Associa-se às colunas os seus respectivos elementos

alunos = {
'Nome':['Gabriel Valizi','Matheus Vivas','Vinícius Melo'],
'Idade':['22','20','22'],
'Numero Usp':['118004xx','118577xx','108450xx'],
'Ano de ingresso':['2020','2020','2018']    
}

df = pd.DataFrame(alunos) #O comando pd.DataFrame organiza os dados em uma tabela 
print(df)

             Nome Idade Numero Usp Ano de ingresso
0  Gabriel Valizi    22   118004xx            2020
1   Matheus Vivas    20   118577xx            2020
2   Vinícius Melo    22   108450xx            2018

In [44]:
#Dado um conjunto de dados fornecido, separa-se a tabela pela coluna de interesse (análise indivudal dos itens)

alunos = {
'Nome':['Gabriel Valizi','Matheus Vivas','Vinícius Melo'],
'Idade':['22','20','22'],
'Numero Usp':['118004xx','118577xx','108450xx'],
'Ano de ingresso':['2020','2020','2018']    
}

group_df = df.groupby('Nome')
for nome, group in group_df:
    print("-----{}-----".format(nome))
    print(group)
    print("")

-----Gabriel Valizi-----
             Nome Idade Numero Usp Ano de ingresso
0  Gabriel Valizi    22   118004xx            2020

-----Matheus Vivas-----
            Nome Idade Numero Usp Ano de ingresso
1  Matheus Vivas    20   118577xx            2020

-----Vinícius Melo-----
            Nome Idade Numero Usp Ano de ingresso
2  Vinícius Melo    22   108450xx            2018

In [45]:
#Para o caso das idades, como temos repetição, os dados são agrupados:

alunos = {
'Nome':['Gabriel Valizi','Matheus Vivas','Vinícius Melo'],
'Idade':['22','20','22'],
'Numero Usp':['118004xx','118577xx','108450xx'],
'Ano de ingresso':['2020','2020','2018']    
}

group_df = df.groupby('Idade')
for nome, group in group_df:
    print("-----{}-----".format(nome))
    print(group)
    print("")

-----20-----
            Nome Idade Numero Usp Ano de ingresso
1  Matheus Vivas    20   118577xx            2020

-----22-----
             Nome Idade Numero Usp Ano de ingresso
0  Gabriel Valizi    22   118004xx            2020
2   Vinícius Melo    22   108450xx            2018

In [85]:
#Função LOC

alunos = {
'Nome':['Gabriel Valizi','Matheus Vivas','Vinícius Melo'],
'Idade':[22,20,22],
'Numero Usp':['118004xx','118577xx','108450xx'],
'Ano':[2020,2020,2018]    
}
df = pd.DataFrame(alunos)    

df1 = df.loc[[0,2]] #Seleciona as LINHAS 0 e 2
print(df1)
print("-----------")
df2 = df.loc[0:2] #Seleciona as LINHAS de 0 a 2
print(df2)
print("-----------")
df3 = df.loc[0:2,['Nome','Ano']] #Seleciona Apenas os dados de interesse NOME/ANO DE INGRESSO
print(df3)
print("-----------")
df4 = df.loc[df.Ano > 2019] #Seleciona apenas os casos de interesse, onde ANO DE INGRESSO É POSTERIOR A 2019
print(df4)
print("-----------")
df5 = df.loc[(df.Ano > 2019) & (df.Idade > 20)] #Seleciona os alunos que ENTRARAM DEPOIS DE 2019 e TEM MAIS DE 20 ANOS
print(df5)

             Nome  Idade Numero Usp   Ano
0  Gabriel Valizi     22   118004xx  2020
2   Vinícius Melo     22   108450xx  2018
-----------
             Nome  Idade Numero Usp   Ano
0  Gabriel Valizi     22   118004xx  2020
1   Matheus Vivas     20   118577xx  2020
2   Vinícius Melo     22   108450xx  2018
-----------
             Nome   Ano
0  Gabriel Valizi  2020
1   Matheus Vivas  2020
2   Vinícius Melo  2018
-----------
             Nome  Idade Numero Usp   Ano
0  Gabriel Valizi     22   118004xx  2020
1   Matheus Vivas     20   118577xx  2020
-----------
             Nome  Idade Numero Usp   Ano
0  Gabriel Valizi     22   118004xx  2020