In [1]:
#Leitura de um arquivo csv 

import pandas as pd #Importa o Pandas
csv_df = pd.read_csv('iris.csv') #Lê um arquivo csv e associa a variavel df
print(csv_df) #Printa a variável df/tabela

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2         se
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [12]:
#df.hape mostra as dimensões da tabela
csv_df = pd.read_csv('iris.csv')
print(csv_df.shape)

(150, 5)

In [13]:
#df.describe() mostra algumas propriedades matematicas da tabela, como media, 
# mediana, valor max, min etc
csv_df = pd.read_csv('iris.csv')
print(csv_df.describe())

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [14]:
#o parâmetro usecols = ['Coluna a', 'Coluna b', ..., 'Coluna n'] determina/mostra apenas
#  as colunas de interesse
#df.head(x) mostra as primeiras x linhas da tabela 

csv_df = pd.read_csv('iris.csv', usecols = ['sepal_length', 'species']) 
print(csv_df.head(12))

    sepal_length species
0            5.1      se
1            4.9  setosa
2            4.7  setosa
3            4.6  setosa
4            5.0  setosa
5            5.4  setosa
6            4.6  setosa
7            5.0  setosa
8            4.4  setosa
9            4.9  setosa
10           5.4  setosa
11           4.8  setosa

In [15]:
#Leitura de arquivo excel

geracao_df = pd.read_excel('Geracao.xlsx') 
#Lê um arquivo excel e associa a variavel df
print(geracao_df) #Printa a variável df/tabela

                      Empreendimento  UF    Origem Entrada em Operação  \
0                        14 de Julho  RS   Hídrica          25/12/2008
1                      29 de Outubro  SC    Fóssil          07/10/2008
2                      3 Tentos Ijuí  RS  Biomassa          15/03/2022
3                      300KVA SCANIA  MG    Fóssil          01/06/2013
4                    3M Itapetininga  SP    Fóssil          12/06/2002
...                              ...  ..       ...                 ...
19809             Zucoloto Suimartin  ES  Biomassa          30/05/2020
19810       Zuleide Dos Santos Matos  PA     Solar          24/02/2022
19811          Zuleide Lisboa Vieira  PA     Solar          30/09/2021
19812  Zulmira Azevedo do Nascimento  PA     Solar          29/01/2021
19813      Zumira Feitosa Dos Santos  PA     Solar          30/10/2017

       Outorgada  Fiscalizada
0       100000.0     100000.0
1           62.0         62.0
2         5500.0       5500.0
3          240.0        240.0
4         3840.0       3840.0
...          ...          ...
19809      150.0        150.0
19810        1.0          1.0
19811        1.0          1.0
19812        1.0          1.0
19813        1.0          1.0

[19814 rows x 6 columns]

In [16]:
#Criação de tabela a partir de lista predeterminada

#Cria-se uma lista com dados fornecidos
#Associa-se às colunas os seus respectivos elementos

import pandas as pd

alunos = {
'Nome':['Gabriel Valizi','Matheus Vivas','Vinícius Melo'],
'Idade':['22','20','22'],
'Numero Usp':['118004xx','118577xx','108450xx'],
'Ano de ingresso':['2020','2020','2018']    
}
df = pd.DataFrame(alunos) #O comando pd.DataFrame organiza os dados em uma tabela 
print(df)

             Nome Idade Numero Usp Ano de ingresso
0  Gabriel Valizi    22   118004xx            2020
1   Matheus Vivas    20   118577xx            2020
2   Vinícius Melo    22   108450xx            2018

In [17]:
#Função LOC

alunos = {
'Nome':['Gabriel Valizi','Matheus Vivas','Vinícius Melo'],
'Idade':[22,20,22],
'Numero Usp':['118004xx','118577xx','108450xx'],
'Ano':[2020,2020,2018]    
}
df = pd.DataFrame(alunos)    

df1 = df.loc[[0,2]] #Seleciona as LINHAS 0 e 2
print(df1)
print("-----------")
df2 = df.loc[0:2] #Seleciona as LINHAS de 0 a 2
print(df2)
print("-----------")
df3 = df.loc[0:2,['Nome','Ano']] 
#Seleciona Apenas os dados de interesse NOME/ANO DE INGRESSO
print(df3)
print("-----------")
df4 = df.loc[df.Ano > 2019] 
#Seleciona apenas os casos de interesse, onde ANO DE INGRESSO É POSTERIOR A 2019
print(df4)
print("-----------")
df5 = df.loc[(df.Ano > 2019) & (df.Idade > 20)] 
#Seleciona os alunos que ENTRARAM DEPOIS DE 2019 e TEM MAIS DE 20 ANOS
print(df5)

             Nome  Idade Numero Usp   Ano
0  Gabriel Valizi     22   118004xx  2020
2   Vinícius Melo     22   108450xx  2018
-----------
             Nome  Idade Numero Usp   Ano
0  Gabriel Valizi     22   118004xx  2020
1   Matheus Vivas     20   118577xx  2020
2   Vinícius Melo     22   108450xx  2018
-----------
             Nome   Ano
0  Gabriel Valizi  2020
1   Matheus Vivas  2020
2   Vinícius Melo  2018
-----------
             Nome  Idade Numero Usp   Ano
0  Gabriel Valizi     22   118004xx  2020
1   Matheus Vivas     20   118577xx  2020
-----------
             Nome  Idade Numero Usp   Ano
0  Gabriel Valizi     22   118004xx  2020

In [18]:
#Função LOC para base de dados Excel
df = pd.read_excel('Geracao.xlsx')

#Exemplo 1: Busca-se os dados para o Estado de São Paulo
ex1 = df.loc[df['UF']=='SP',['Empreendimento', 'UF','Origem']]
print(ex1)

print("============================================================")

#Exemplo 2: Busca-se os dados para a geração solar
ex2 = df.loc[df['Origem']=='Solar',['Empreendimento', 'UF','Origem']]
print(ex2)

                                          Empreendimento  UF    Origem
4                                        3M Itapetininga  SP    Fóssil
5                                              3M Sumaré  SP    Fóssil
282                                                Adria  SP    Fóssil
336                          Aeroporto de Campo de Marte  SP    Fóssil
348                     Aeroporto de São José dos Campos  SP    Fóssil
...                                                  ...  ..       ...
19721  Yara Brasil Fertilizantes (Antiga Vale Cubatão...  SP    Fóssil
19726                                              YPE I  SP    Fóssil
19727                           Yuni GTIS Leopoldo Green  SP    Fóssil
19731                                              Zanin  SP  Biomassa
19808                      Zodiac Produtos Farmacêuticos  SP     Solar

[1153 rows x 3 columns]
============================================================
                      Empreendimento  UF Origem
19           Abdias Barbosa da Silva  PA  Solar
20         Abdilson Barbosa da Silva  PA  Solar
21        Abedao Barbosa de Carvalho  PA  Solar
22               Abedao Lobato Leite  PA  Solar
23           Abedias Mendes da Silva  PA  Solar
...                              ...  ..    ...
19808  Zodiac Produtos Farmacêuticos  SP  Solar
19810       Zuleide Dos Santos Matos  PA  Solar
19811          Zuleide Lisboa Vieira  PA  Solar
19812  Zulmira Azevedo do Nascimento  PA  Solar
19813      Zumira Feitosa Dos Santos  PA  Solar

[13831 rows x 3 columns]

In [19]:
#Adicionando uma coluna na tabela de alunos

alunos = {
'Nome':['Gabriel Valizi','Matheus Vivas','Vinícius Melo'],
'Idade':[22,20,22],
'Numero Usp':['118004xx','118577xx','108450xx'],
'Ano':[2020,2020,2018]    
}
df = pd.DataFrame(alunos)  
df['Nascimento'] = 2022 - df['Idade']  
#Definir um valor para uma coluna que não existe faz com que ela seja criada
print(df)

             Nome  Idade Numero Usp   Ano  Nascimento
0  Gabriel Valizi     22   118004xx  2020        2000
1   Matheus Vivas     20   118577xx  2020        2002
2   Vinícius Melo     22   108450xx  2018        2000

In [20]:
#Função fillna
#Tratamento de dados

import pandas as pd 

df = pd.read_excel('Alunos.xlsx') 
print(df)
print('--------------------------------------------------')
df["Ano"].fillna(value = df['Ano'].median(), inplace = True)
print(df)
print('--------------------------------------------------')

              Nome  Idade  Numero Usp     Ano
0   Gabriel Valizi     22    11800400  2020.0
1    Matheus Vivas     20    11800401  2020.0
2    Vinicius Melo     22    11800402     NaN
3            Alice     19    11800402  2020.0
4           Otavio     18    11800402  2020.0
5          Vitoria     29    11800402  2017.0
6             José     21    11800402  2020.0
7             João     25    11800402  2018.0
8          Marcelo     17    11800402  2020.0
9         Gabriela     19    11800402  2020.0
10          Heitor     28    11800402  2017.0
11         Leticia     25    11800402  2018.0
12        Fernando     24    11800402  2018.0
13         Leandro     18    11800402  2020.0
--------------------------------------------------
              Nome  Idade  Numero Usp     Ano
0   Gabriel Valizi     22    11800400  2020.0
1    Matheus Vivas     20    11800401  2020.0
2    Vinicius Melo     22    11800402  2020.0
3            Alice     19    11800402  2020.0
4           Otavio     18    11800402  2020.0
5          Vitoria     29    11800402  2017.0
6             José     21    11800402  2020.0
7             João     25    11800402  2018.0
8          Marcelo     17    11800402  2020.0
9         Gabriela     19    11800402  2020.0
10          Heitor     28    11800402  2017.0
11         Leticia     25    11800402  2018.0
12        Fernando     24    11800402  2018.0
13         Leandro     18    11800402  2020.0
--------------------------------------------------

In [21]:
#Juntando duas tabelas
import pandas as pd

alunos = {
'Nome':['Gabriel Valizi','Matheus Vivas','Vinícius Melo'],
'Idade':['22','20','22'],
'Numero Usp':['118004xx','118577xx','108450xx'],
'Ano':['2020','2020','2018']    
}
df_1 = pd.DataFrame(alunos)
df_2 = pd.read_excel('extras.xlsx')

df_1 = df_1.append(df_2) 
#Anexa, ao final da tabela 1 (Criada no codigo), 
# a tabela extras (com os dados ficticios)
print(df_1)

              Nome Idade Numero Usp   Ano
0   Gabriel Valizi    22   118004xx  2020
1    Matheus Vivas    20   118577xx  2020
2    Vinícius Melo    22   108450xx  2018
0            Alice    19   11800402  2020
1           Otavio    18   11800402  2020
2          Vitoria    29   11800402  2017
3             José    21   11800402  2020
4             João    25   11800402  2018
5          Marcelo    17   11800402  2020
6         Gabriela    19   11800402  2020
7           Heitor    28   11800402  2017
8          Leticia    25   11800402  2018
9         Fernando    24   11800402  2018
10         Leandro    18   11800402  2020

/tmp/ipykernel_3915/2681491629.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1 = df_1.append(df_2) #Anexa, ao final da tabela 1 (Criada no codigo), a tabela extras (com os dados ficticios)